* {
  margin: 0;
  user-select: none;
}

#navbar {
  transition: background 1s;
}

#captain {
  transition: opacity 1s;
  margin-top: 5em;
}

.trench {
  font-size: 60;
  display: inline-block;
  transform: translateY(200px);
  opacity: 0;
  transition: opacity 1s, transform 0.2s;
}

.high-life {
  /*Name Animator*/
  margin-top: 0px;
  opacity: 1;
  transform: translateY(0);
  animation: outMan .4s ease-in;
}

@keyframes outMan {
  100% {
    scale: 1.2;
    color: var(--bs-primary);
    text-shadow: 0 0 20px white;
  }
}

@keyframes row-me {

  /*Used By Javascript*/
  25% {
    transform: rotate(50deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-50deg);
  }
}

.card-main-bg {
  /*background: linear-gradient(to bottom right, white, white, white, black); /*#E9E9E9, #060B3F);*/
  background: aliceblue;
}

.hide-element {
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
  opacity: 0;
}

.revealed-element {
  opacity: 1;
  transform: translateY(0);
}

#vicko- {
  transition: 1s !important;
}

#vicko-xp {
  margin-top: 50vh;
  transition: 1 all;
  position: relative;
  transform: translateY(-50%);
}

#sectionX {
  background: linear-gradient(to bottom, var(--bs-info) 50%, var(--bs-primary) 50%);
}