html,
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to bottom, #0D1117, #0A0F1A);
  font-family: "Varela Round";
  color-scheme: dark;
  scroll-behavior: smooth;
}

.navMore {
  transition: max-height 0.4s ease;
  overflow-y: auto;
  max-height: 0;
}

/* Optional styling */
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px 0;
}

.abc {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75),
      #0D1117),
    url("./src/images/open/the-v.webp") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  animation: bgSlide 30s ease-in-out infinite alternate;
}


@keyframes bgSlide {
  from {
    background-position: left;
  }
  
  to {
    background-position: right;
  }
}

.s-img {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.s-img- {
  height: 48px;
  width: 48px;
}

p {
  margin-top: 0.35rem !important;
  margin-bottom: 0.35rem !important;
}

footer {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}