* {
  margin: 0;
  user-select: none;
}

#captain {
  transition: opacity 1s;
}

.trench {
  font-size: 60;
  display: inline-block;
  transform: translateY(200px);
  opacity: 0;
  transition: opacity 1s, transform 0.2s;
}

.card-main-bg {
  /*background: linear-gradient(to bottom right, white, white, white, black); /*#E9E9E9, #060B3F);*/
background: aliceblue;
}

.hide-element {
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
  opacity: 0;
}

.revealed-element {
  opacity: 1;
  transform: translateY(0);
}

#vicko- {
  position: absolute;
  height: 100vh;
  transition: 1s !important;
}

#vicko-xp {
  margin-top: 50vh;
  transition: 1 all;
  position: relative;
  transform: translateY(-50%);
}