@font-face {
  font-family: "SmFont";
  src: url("./src/fonts/font.woff2") format("woff2");
}

@font-face {
  font-family: 'Varela Round';
  src: url("./src/fonts/varelaround.ttf") format('truetype');
}

html,
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to bottom, #0D1117, #0A0F1A);
  font-family: "Varela Round";
  color-scheme: dark;
  scroll-behavior: smooth;
  user-select: none;
}

.sm-font {
  font-family: 'SmFont', "Varela Round", sans-serif;
}

.Iint {
  opacity: 1 !important;
  background: rgba(0, 0, 0, 0.6);
  display: inline;
  padding: 0.25rem;
  border-radius: 0.25rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

#post-hero:hover .Iint {
  background: rgba(0, 0, 0, 0.9);
}

#animated-word {
  color: white;
  text-shadow:
    -3px 3px 0px rgba(125, 125, 125, 1),
    -6px 6px 0px rgba(105, 105, 105, 0.5),
    -9px 9px 0px rgba(85, 85, 85, 0.25);
}

.text-cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  
  0%,
  49% {
    opacity: 1;
  }
  
  50%,
  100% {
    opacity: 0;
  }
}

.navMore,
.mailSection {
  transition: max-height 0.4s ease;
  overflow-y: auto;
  max-height: 0;
}

/* Optional styling */
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px 0;
}

.abc {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75),
      #0D1117),
    url("./src/images/open/the-v.webp") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  animation: bgSlide 30s ease-in-out infinite alternate;
}


@keyframes bgSlide {
  from {
    background-position: left;
  }
  
  to {
    background-position: right;
  }
}

.s-img {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.s-img- {
  height: 48px;
  width: 48px;
}

p {
  margin-top: 0.35rem !important;
  margin-bottom: 0.35rem !important;
}

footer {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}